h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p, small {
  font-family: 'Open Sans', sans-serif;
}

section {
  height: 100vh;
  width: 100vw;
  padding: 0;
}

nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: background 250ms ease-in;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.navlink {
  color: white;
}

.navlink-scrolled {
  color: #1b76c2;
}

.nav-scrolled {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
  z-index: 2;
}

.burger-scrolled {
  color: #1b76c2;
}

.parallax img {
  width: 100vw;
  height: auto;
}

.banner-text {
  position: absolute;
  top: 32.3%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  width: 80%;
  text-align: center;
}

.banner-text h1, .banner-text h3 {
  text-shadow: 1px 1px 2px #000000;
}

h1 {
  font-family: 'Muli', sans-serif;
  font-weight: 1000;
}

hr {
  width: 30%;
  border-color: white;
}

.header {
  text-align: center;
  margin: 30px 0;
  font-family: 'Montserrat', sans-serif;
}

/* About */

#about {
  height: 100%;
}

.portrait {
  max-width: 300px;
  width: 100%;
}

/* Projects */
#projects {
  height: 2600px;
  background-color: #f1bc0f;
  clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 97%);
  margin: -20px 0 0 0;
}

.projects-container, .projects-header {
  position: relative;
  top: 60px;
  color: white;
}

.projects-container {
  text-align: center;
}

.project {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.project img {
  display: block;
  width: 600px;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(85, 85, 85, 0.753);
  overflow: scroll;
  width: 100%;
  height: 0;
  transition: .5s ease;
  color: white;
  padding: 0 20px;
  text-align: left;
}

.project:hover .overlay {
  height: 100%;
}

.project-btn {
  text-align: center;
  margin: 30px 0 10px 0;
}

/* Skills */
/* #skills {
  background-color: #1abc9c;
  clip-path: polygon(0 0, 100% 7%, 100% 93%, 0 100%);
  margin: -80px 0 0 0;
}

.skills-container, .skills-header {
  position: relative;
  top: 60px;
  color: white;
} */

/* Contact */
#contact {
  background-color: #1abc9c;
  clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 100%);
  margin: -110px 0 0 0;
  height: 600px;
}

.contact-container, .contact-header {
  position: relative;
  top: 60px;
  color: white;
}

.form-container {
  padding: 20px;
}

.input-field>label {
  color: white;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  border-bottom: 1px solid white;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: white;
}

.form-btn {
  text-align: right;
}

/* Contact */
/* #contact {
  background-color: #3498db;
  clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
  margin: -80px 0 0 0;
} */

/* Footer */
.footer-header {
  text-align: center;
}

.icons {
  text-align: center;
}

.fab, .fas {
  color: white;
  margin: 0 10px;
}

.resume-icon {
  height: 49px;
}

.footer-copyright {
  text-align: center;
}

@media (max-width: 768px) {
  .project img {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 700px) {
  #projects {
    height: 2500px;
  }
}